<html>
    <head> <title> Home </title>
        <link rel="stylesheet" href="/lib/bootstrap.min.css">
        <script src="/lib/jquery-1.12.2.min.js"></script>
        <script src="/lib/bootstrap.min.js"></script>
        <style>
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            width: 70%;
            margin: auto;
        }
        </style>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>

   <div class="container ">
       <div class="row">
           Test <br><br>
           <div class="col-md-12">           @menu()</div>
       </div>
       <div class="row">
           <br>

           <div class="col-md-3" ><div class="row"><h1>Product</h1></div>
               <div class="row">Nike</div>
               <div class="row">Adidas</div>
               <div class="row">Onitsuka</div>
               <div class="row">FLA</div>
               <div class="row">Converse</div>

           </div>
           <div class="col-md-9">
               <p align="center"><img src="assets/images/pro.jpg">
       </div>
       <div class="row" >
           <div class="col-md-12" style="background-color: #212121;color: white"  align="center">Tel : 088-2804573 <br>
           Khonkean Thailand</div>
       </div>
   </div>
    </body>
</html>