<html>
    <head>
        <title>Profile</title>
    </head>
    <body bgcolor="#48d1cc	" >
        <h1><p align="center">Profile</p> </h1>
        <p align="center"><img src="assets/images/ss.jpg" width="350" height="450"  ></p>
        <ul>
            <h3><li type=”disc”> ชื่อนางสาวกุญชชร แสนกล้า </li></h3>
            <h3><li type=”disc”> ชื่อเล่นน้ำ </li></h3>
            <h3><li type=”disc”> เกิดวันที่ 1 มีนาคม 2540 </li></h3>
            <h3><li type=”disc”> ที่อยู่ บ้านเลขที่ 116 หมู่ 1 ตำบลแคนใหญ่ อำเภอเมือง จังหวัดร้อยเอ็ด </li></h3>
            <h3><li type=”disc”> เบอร์โทรศัพท์ 088-280-4573</li></h3>
            <h3><li type=”disc”> ปัจจุบันศึกษา ชั้นปีที่4 สาขาระบบสารสนเทศทางคอมพิวเตอร์ </li></h3>
        </ul>

    </body>
</html>