<html>
    <head>
        <title>
            
        </title>
    </head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <body>
        <div class="container ">
            <div class="row">
           Test <br><br>
                <div class="col-md-12">           @menu()</div>
       </div>
            <div class="row">
                <br>


                <div class="col-md-3"><div class="row">Brand</div>
                    <div class="row">Nike</div>
                    <div class="row">Adidas</div>
                    <div class="row">Puma</div>

                </div>
                <div class="col-md-9"> <img src="assets/images/pro.jpg"></div>
            </div>
            <div class="row" >
                <div class="col-md-12" style="background-color: #212121" ; font-style="#FAFAFA";  align="center">Tel : 088-2804573 <br>
                    Khonkean Thailand</div>
            </div>
        </div>
</body>
</html>